.pic_flex h1{
    
    text-align: center;
}

.pic {
    padding: 40px 0;
}

.pic_comment p {
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    transition: 0.5s;
}

.pic_comment p:hover {
    opacity: 0.5;
}