.dropdown {
    display: none;
    position: absolute;
    background-color: black;
    min-height: 160px;
    z-index: 1;
}

.dropdown a {
    display: block;
    padding: 10px;
}

nav ul li:hover .dropdown {
    display: block;
}
