@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Pacifico&family=Press+Start+2P&display=swap');

header {
    background-color: rgb(59, 49, 166);
    color: rgb(255, 255, 255);
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 30px;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 30px;
    transition: 0.2s;
    font-family: "Oswald", serif;
}

nav a:hover {
    opacity: 0.8;
}

img {
    width: 150px;
    height: 150px;
    border: 7px solid rgb(255, 255, 255);
    border-radius: 80px;
}

.slider {
    display: flex;
    flex-direction: column;
}

.slider img {
    margin: 20px;
}
.pic {
    display: flex;
    border-bottom: 2px solid rgb(255, 255, 255);
    margin: 20px 0;
}
.pic_flex {
    display: flex;
    flex-direction: column;
}

.pic p {
    text-align: left;
    margin: 0 10%;
    color: rgb(255, 255, 255);
    font-size: 30px;
    cursor: default;
    

}

.pic h1 {
font-size: 20px;
cursor: default;

}


#cl {
    background-color: rgb(255, 0, 0);
}

body {
display: flex;
flex-direction: column;
}

.slider {
    flex: 1;
}
